@import url("./fonts.css");

:root {
  /* Set Colors */
  --primary: #081534;
  --primary-dark: hsl(222, 73%, 8%);

  --accent: #D2A300;

  --bg: #F7F7F7;
  --bg-light: #FFFFFF;
  --bg-contrast: #EDEDED;

  /* Set parameters */
  --max-content-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  font-family: 'Poppins', sans-serif;
}

.title {
  color: var(--primary-dark);
}

.subtitle {
  color: var(--primary);
}

a {
  color: var(--accent);
}